body {
    background-color: white;
    opacity: 1;
    background-image:
    linear-gradient(135deg, #eeeeee 25%, transparent 25%),
    linear-gradient(225deg, #eeeeee 25%, transparent 25%),
    linear-gradient(45deg, #eeeeee 25%, transparent 25%),
    linear-gradient(315deg, #eeeeee 25%, #ffffff 25%);
    background-position: 4px 0, 4px 0, 0 0, 0 0;
    background-size: 4px 4px;
    background-repeat: repeat;
}

.heading {
    text-align: center;
    color: #007FFF;
    font-size: 50px;
    font-weight: bold;
    padding: 25px 50px 30px 50px;
    background-color: transparent;
}

.form-content {
    padding: 60px 10% 40px 10%;
    border: none;
    background-color: transparent;
}

#btn {
    text-align: center;
}

#btnSubmit {
    margin: 20px;
    border: none;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    background: #007FFF;
    color: white;
}

#output {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0 70px 0;
}
